* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(8, 8, 8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15rem;
}

.container {
    position: relative;
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(6px) saturate(180%);
    background-color: rgba(17, 25, 40, 0);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
}

.circle {
    width: 6rem;
    height: 6rem;
    background: linear-gradient(45deg, #fc00ff, #00dbde);
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: -40px;
    right: -30px;
}

.circle:nth-child(2) {
    top: 180px;
    left: -40px;
    background: linear-gradient(45deg, #2980B9, #6DD5FA, #ffffff);
}

.city {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.weather {
    text-transform: uppercase;
    color: gainsboro;
    font-size: 13px;
}

.temperature {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
}

.min-max-temp {
    display: flex;
    font-size: 12px;
}

.min-max-temp p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}